<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--header-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"><img class="imglogo" src="../assets/img/logoPiscis.png" alt="">
      {{header.titulo}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item space active">
          <a class="nav-link" href="#inicio">{{header.menu1}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item space">
          <a class="nav-link" href="#areaInscripcion">{{header.menu2}}</a>
        </li>
        <li class="nav-item space">
          <a class="nav-link" href="#fotos">{{header.menu3}}</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="#areaInscripcion">
          <button id="btnregister" type="button" class=" btn btn-primary btn-lg">{{header.btnInscripcion}}</button>
        </a>
      </form>
    </div>
  </nav>
</header>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--Portada-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<section id="portada">
  <div id="parallax">
    <div class="row">
      <div>
        <h1>{{carrusel.titulo1}}</h1>
        <p>{{carrusel.descripcion1}}</p>
      </div>
    </div>
  </div>
</section>
<hr>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--Inicio-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<section id="inicio">
  <div class="container-fluid">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top img-thumbnail cuadrado" src={{imagenes.card1}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{inicio.cardTitle1}}</h5>
          <p class="card-text">{{inicio.descripcion1}}</p>
          <p class="card-text">
            <small class="text-muted">nota</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top img-thumbnail cuadrado" src={{imagenes.card2}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{inicio.cardTitle2}}</h5>
          <p class="card-text">{{inicio.descripcion2}}</p>
          <p class="card-text">
            <small class="text-muted">nota</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--areaInscripcion-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<section id="areaInscripcion" class="wow fadeIn">
  <div class="container text-center">
    <h3>{{areaInscripcion.titulo}}</h3>
    <p>{{areaInscripcion.descripcion}}</p>
    <!--<a data-toggle="modal" data-target="#exampleModal" class="cta-btn" href="#">{{areaInscripcion.BOTON}}</a>-->

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--formulario-->
    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <hr>
    <div class="container-fluid col-xl-12 col-lg-12 col-md-6 col-sm-6">
      <form (ngSubmit)="guardarInscripcion()" #forma="ngForm">
        <!--Nombre Equipo-->
        <div class="form-group">
          <label for="team">Nombre del Equipo:</label>
          <input [(ngModel)]="inscripcion.team" name="team"
                 type="text" class="form-control" id="team" required>
        </div>
        <div class="form-group">
          <label for="juego">Juego:</label>
          <select [(ngModel)]="inscripcion.juego" name="juego"
                  type="text" class="form-control" id="juego" required
                  (change)="cambiar1($event.target.selectedIndex)">
            <option *ngFor="let jg of juegos" [ngValue]="jg">
              {{jg}}
            </option>
          </select>
        </div>

        <p>Integrantes</p>
        <!--Para Dota2 o Counter-->
        <div *ngFor="let ins of inscripcion.arreglo">
          <div class="form-group container row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
              <input [(ngModel)]="ins.cod"
                     name="cod" type="text" class="form-control" id="cod" required
                     placeholder="cod">
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
              <input [(ngModel)]="ins.nam"
                     name="nam" type="text" class="form-control" id="nam" required
                     placeholder="name">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
              <input [(ngModel)]="ins.nick"
                     name="nick" type="text" class="form-control" id="nick" required
                     placeholder="nick">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
              <select [(ngModel)]="ins.ep" name="ep"
                      type="text" class="form-control" id="ep" required>
                <option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">
                  {{car.EP}}
                </option>
              </select>
            </div>
          </div>
          <hr>

        </div>


        <!--<div *ngIf="indice ==0 || indice==2">-->
        <!--&lt;!&ndash;1&ndash;&gt;-->
        <!---->
        <!--<div class="form-group container row">-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].cod1"-->
        <!--name="cod1" type="text" class="form-control" id="cod1" required-->
        <!--placeholder="cod1">-->
        <!--</div>-->
        <!--<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].nam1"-->
        <!--name="nam1" type="text" class="form-control" id="nam1" required-->
        <!--placeholder="name1">-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].nick1"-->
        <!--name="nick1" type="text" class="form-control" id="nick1" required-->
        <!--placeholder="nick1">-->
        <!--</div>-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<select [(ngModel)]="inscripcion.arreglo[0].ep1" name="ep1"-->
        <!--type="text" class="form-control" id="ep1" required>-->
        <!--<option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">-->
        <!--{{car.EP}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <!--&lt;!&ndash;2&ndash;&gt;-->
        <!--<div class="form-group container row">-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[1].cod2"cod2-->
        <!--name="cod2" type="text" class="form-control" id="cod2" required-->
        <!--placeholder="cod2">-->
        <!--</div>-->
        <!--<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[1].nam2"-->
        <!--name="nam2" type="text" class="form-control" id="nam2" required-->
        <!--placeholder="name2">-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[1].nick2"nick2-->
        <!--name="nick2" type="text" class="form-control" id="nick2" required-->
        <!--placeholder="nick2">-->
        <!--</div>-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<select [(ngModel)]="inscripcion.arreglo[1].ep2" name="ep2"-->
        <!--type="text" class="form-control" id="ep2" required>-->
        <!--<option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">-->
        <!--{{car.EP}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <!--&lt;!&ndash;3&ndash;&gt;-->
        <!--<div class="form-group container row">-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[2].cod3"-->
        <!--name="cod3" type="text" class="form-control" id="cod3" required-->
        <!--placeholder="cod3">-->
        <!--</div>-->
        <!--<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[2].nam3"-->
        <!--name="nam3" type="text" class="form-control" id="nam3" required-->
        <!--placeholder="name3">-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[2].nick3"-->
        <!--name="nick3" type="text" class="form-control" id="nick3" required-->
        <!--placeholder="nick3">-->
        <!--</div>-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<select [(ngModel)]="inscripcion.arreglo[2].ep3" name="ep3"-->
        <!--type="text" class="form-control" id="ep3" required>-->
        <!--<option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">-->
        <!--{{car.EP}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <!--&lt;!&ndash;4&ndash;&gt;-->
        <!--<div class="form-group container row">-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[3].cod4"-->
        <!--name="cod4" type="text" class="form-control" id="cod4" required-->
        <!--placeholder="cod4">-->
        <!--</div>-->
        <!--<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[3].nam4"-->
        <!--name="nam4" type="text" class="form-control" id="nam4" required-->
        <!--placeholder="name4">-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[3].nick4"-->
        <!--name="nick4" type="text" class="form-control" id="nick4" required-->
        <!--placeholder="nick4">-->
        <!--</div>-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<select [(ngModel)]="inscripcion.arreglo[3].ep4" name="ep4"-->
        <!--type="text" class="form-control" id="ep4" required>-->
        <!--<option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">-->
        <!--{{car.EP}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <!--&lt;!&ndash;5&ndash;&gt;-->
        <!--<div class="form-group container row">-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[4].cod5"-->
        <!--name="cod5" type="text" class="form-control" id="cod5" required-->
        <!--placeholder="cod5">-->
        <!--</div>-->
        <!--<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[4].nam5"-->
        <!--name="nam5" type="text" class="form-control" id="nam5" required-->
        <!--placeholder="name5">-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[4].nick5"-->
        <!--name="nick5" type="text" class="form-control" id="nick5" required-->
        <!--placeholder="nick5">-->
        <!--</div>-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<select [(ngModel)]="inscripcion.arreglo[4].ep5" name="ep5"-->
        <!--type="text" class="form-control" id="ep5" required>-->
        <!--<option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">-->
        <!--{{car.EP}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;Para Fornite&ndash;&gt;-->
        <!--<div *ngIf="indice ==1">-->
        <!--&lt;!&ndash;1&ndash;&gt;-->
        <!--<div class="form-group container row">-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].cod1"-->
        <!--name="cod1" type="text" class="form-control" id="cod1F" required-->
        <!--placeholder="cod1">-->
        <!--</div>-->
        <!--<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].nam1"-->
        <!--name="nam1" type="text" class="form-control" id="nam1F" required-->
        <!--placeholder="name1">-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].nick1"-->
        <!--name="nick1" type="text" class="form-control" id="nick1F" required-->
        <!--placeholder="nick1">-->
        <!--</div>-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<select [(ngModel)]="inscripcion.arreglo[0].ep1" name="ep1"-->
        <!--type="text" class="form-control" id="ep1F" required>-->
        <!--<option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">-->
        <!--{{car.EP}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<hr>-->
        <!--&lt;!&ndash;2&ndash;&gt;-->
        <!--<div class="form-group container row">-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[1].cod2"-->
        <!--name="cod2" type="text" class="form-control" id="cod2F" required-->
        <!--placeholder="cod2">-->
        <!--</div>-->
        <!--<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[1].nam2"-->
        <!--name="nam2" type="text" class="form-control" id="nam2F" required-->
        <!--placeholder="name2">-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[1].nick2"nick2-->
        <!--name="nick2" type="text" class="form-control" id="nick2F" required-->
        <!--placeholder="nick2">-->
        <!--</div>-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<select [(ngModel)]="inscripcion.arreglo[1].ep2" name="ep2"-->
        <!--type="text" class="form-control" id="ep2F" required>-->
        <!--<option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">-->
        <!--{{car.EP}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;Para StarCraft o Pes2018&ndash;&gt;-->
        <!--<div *ngIf="indice ==3 || indice==4">-->
        <!--&lt;!&ndash;1&ndash;&gt;-->
        <!--<div class="form-group container row">-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].cod1"-->
        <!--name="cod1" type="text" class="form-control" id="cod1S" required-->
        <!--placeholder="cod1">-->
        <!--</div>-->
        <!--<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].nam1"-->
        <!--name="nam1" type="text" class="form-control" id="nam1S" required-->
        <!--placeholder="name1">-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">-->
        <!--<input [(ngModel)]="inscripcion.arreglo[0].nick1"-->
        <!--name="nick1" type="text" class="form-control" id="nick1S" required-->
        <!--placeholder="nick1">-->
        <!--</div>-->
        <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--<select [(ngModel)]="inscripcion.arreglo[0].ep1" name="ep1"-->
        <!--type="text" class="form-control" id="ep1S" required>-->
        <!--<option *ngFor="let car of EscuelasProfesionales" [ngValue]="car.EP">-->
        <!--{{car.EP}}-->
        <!--</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <p class="text-warning">Todos los datos son obligatorios.</p>
        <button [disabled]="!forma.valid"
                class="btn btn-outline-success" type="submit"
                (click)="mensaje()">
          Enviar
        </button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
      </form>
    </div>
  </div>
</section>


<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--Fotos-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<section id="fotos">
  <div class="container">
    <header class="section-header">
      <h3 class="text-center">{{fotos.titulo}}</h3>
    </header>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto1}} class="img-fluid img-thumbnail" alt="">
          </figure>
          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t1}}</a></h4>
            <p>{{fotos.d1}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto2}} class="img-fluid img-thumbnail" alt="">
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t2}}</a></h4>
            <p>{{fotos.d2}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto3}} class="img-fluid img-thumbnail" alt="">
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t3}}</a></h4>
            <p>{{fotos.d3}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto4}} class="img-fluid img-thumbnail" alt="">
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t4}}</a></h4>
            <p>{{fotos.d4}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto5}} class="img-fluid img-thumbnail" alt="">
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t5}}</a></h4>
            <p>{{fotos.d5}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto6}} class="img-fluid img-thumbnail" alt="">
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t6}}</a></h4>
            <p>{{fotos.d6}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto7}} class="img-fluid img-thumbnail" alt="">
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t7}}</a></h4>
            <p>{{fotos.d7}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto8}} class="img-fluid img-thumbnail" alt="">
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t8}}</a></h4>
            <p>{{fotos.d8}}</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src={{imagenes.foto9}} class="img-fluid img-thumbnail" alt="">
            <!--<a href="#carrusel" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>-->
            <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">{{fotos.t9}}</a></h4>
            <p>{{fotos.d9}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--Participantes-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<hr>
<section id="participantes">
  <div class="container-fluid">
    <div class="container-fluid table-responsive table-striped table-hover">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Equipo</th>
          <th scope="col">Juego</th>
          <th scope="col">Players</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items;let i=index">
          <th>{{i+1}}</th>
          <td>{{item.team}}</td>
          <td>{{item.juego}}</td>
          <td>
              <tr>{{item.arreglo[0].nam}}</tr>
              <tr>{{item.arreglo[1]?.nam}}</tr>
              <tr>{{item.arreglo[2]?.nam}}</tr>
              <tr>{{item.arreglo[3]?.nam}}</tr>
              <tr>{{item.arreglo[4]?.nam}}</tr>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--Footer-->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>{{footer.empresa}}.</strong> {{footer.derechos}}
    </div>
    <div class="credits">
      {{footer.graciasA}} <a href="#">{{footer.by}}</a>
    </div>
  </div>
</footer>


<!--=======================================================================================================================-->

